@import "tailwindcss";

@layer utilities {
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .animate-fade-in {
    animation: fade-in 0.3s ease-out;
  }
}

body * {
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.grid-background {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.2) 1px,
      transparent 1px
    ),
    linear-gradient(90deg, rgba(255, 255, 255, 0.2) 1px, transparent 1px);
  background-size: 30px 30px;
  background-color: #02151c;
}

@theme {
  --color-brand: #02151c;
  --color-neutral: #f5f5f5;
  --color-brand-d: #171613;
  --color-accent: #402f71;
  --color-accent-li: #d491ff;
}

@keyframes slide-down {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes progress {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.animate-slide-down {
  animation: slide-down 0.3s ease-out;
}

.animate-progress {
  animation: progress linear;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none; /* 隱藏小日曆圖示 */
  -webkit-appearance: none;
}

/* Firefox */
input[type="date"]::-moz-calendar-picker-indicator {
  display: none;
}

input[type="time"] {
  -webkit-appearance: none;
  appearance: none;
  box-sizing: border-box;
  min-height: 40px;
}

#reader {
  border: none !important;
  @apply rounded-md;
}

#html5-qrcode-button-camera-permission,
#html5-qrcode-button-camera-start,
#html5-qrcode-button-camera-stop {
  @apply border-2 border-accent-li text-accent-li py-2 px-4 rounded-md mt-2 z-50 absolute left-1/2 top-0.5 -translate-x-1/2 font-bold;
}

#reader__dashboard > div > div > :nth-child(2) {
  border-width: 2px !important;
  border-color: var(--color-accent-li) !important;
  color: var(--color-accent-li) !important;
  padding-top: 0.5rem !important;   /* py-2 */
  padding-bottom: 0.5rem !important;
  padding-left: 1rem !important;    /* px-4 */
  padding-right: 1rem !important;
  border-radius: 0.375rem !important; /* rounded-md */
  margin-top: 0.5rem !important;     /* mt-2 */
}

#reader__dashboard > div > div > :nth-child(2) * {
color:var(--color-neutral);
}

#html5-qrcode-anchor-scan-type-change {
  @apply text-sm text-gray-300 mt-1;
}

#reader__dashboard_section_csr {
  @apply text-base mb-2;
}

#html5-qrcode-select-camera option {
  @apply bg-gray-700;
}

#reader__scan_region,
#reader__scan_region video {
  @apply rounded-sm;
}

#html5-qrcode-button-file-selection,
#html5-qrcode-select-camera {
  @apply decoration-accent-li underline underline-offset-3;
}
